<!-- <h1>Property Binding</h1> -->
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr no.</th>
                    <th>Role Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roleList;let srno = index ">
                    <td>{{srno+1}}</td>
                    <td>{{role.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- <button class="btn btn-primary" (click)=" getAllRoles()">Hit me</button> -->
<!-- <div class="row mt-3">
    <div class="col-3">
        <p>{{firstName}}</p>
    </div>
    <div class="col-3">
        <p>{{version}}</p>
    </div>
    <div class="col-3">
        <p>{{curDate}}</p>
    </div>
</div> -->
<!-- <div class="col-3 mt-4">
    <input type="text" [value]="firstName">
    <input [type]="category" placeholder="hit me!!">
    <input [(ngModel)]="firstName">
    <button class="btn btn-success" (click)="shoeEvent()">Hit Me!!</button>
</div> -->