<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr no.</th>
                                    <th>Role Name</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Person name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Contact no</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Company name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">City</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Pincode</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">State</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Address</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <label for="">Employee Strength</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Gst no.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Reg no.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <div class="btn btn-secondary">Reset</div>
                        </div>
                        <div class="col-6 text-center">
                            <div class="btn btn-success">Save client</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>